<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <style>
	header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;	 
		font-family:arial;
		font-style:italic;
	}
		
	footer {
		position:absolute;
		bottom:0;
		background-color:black;
		width:98%;
		color:white;
		clear:both;
		text-align:center;
		
		padding:5px;	 	 
	}
	</style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<center>
<body background="http://www.backgroundlabs.com/wp-content/uploads/2013/04/brushed-metal-background-580x362.png">
<header>
<h1>i M a BLoGGer!</h1>
</header>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, :method => :get, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</p>
<%= yield %>

<footer>
Copyright © Sai Praturi
</footer>
</body>
</center>
</html>
